RewriteEngine On

# Rewrite URLs without .php to their corresponding .php files
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php [L]

# Rewrite ratgeber/slug to ratgeber-detail.php?slug=slug
RewriteRule ^ratgeber/([^/]+)$ ratgeber-detail.php?slug=$1 [L,QSA]