nav[aria-label="breadcrumb"] {
    max-width: var(--container-max-width);
    margin: 0 auto;
    padding: 12px var(--container-padding);
}

.breadcrumb {
    display: flex;
    align-items: center;
    padding: 1rem 0;
    font-size: 0.8rem;
    list-style: none;
}

.breadcrumb-item {
    position: relative;
    padding-right: 3rem;
}

.breadcrumb-item:first-child {
    padding-left: 0;
}

.breadcrumb-item:not(:last-of-type)::after {
    content: '';
    display: inline-block;
    margin: 0 2rem;
    position: absolute;
    width: 2px;
    height: 33px;
    right: -6px;
    top: -5px;
    background: #f2f3f4;
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
}

.breadcrumb a {
    color: var(--color-text-secondary);
    text-decoration: none;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

.breadcrumb-current {
    font-weight: 800;
}