@import '../variables.css';

.top-bar {
    position: relative;
    background-color: var(--color-background-light);
    padding: 0.25rem 0;
    font-size: 0.8rem;
    color: var(--color-text-secondary);
    z-index: var(--z-index-topbar);
  }

  .top-bar a {
    color: var(--color-text-secondary);
  }
  
  .top-bar__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--container-max-width);
    margin: 0 auto;
    padding: 0 var(--container-padding);
  }

  .top-bar__phone-link {
    margin-left: 20px;
    text-decoration: none;
    /* Fügen Sie hier Ihre gewünschte Farbe und andere Stile hinzu */
  }

  .top-bar__phone-link i {
    margin-right: 5px;
  }

  .top-bar .right {
    display: flex;
    gap: 20px;
    align-items: center;
  }