@import '../variables.css';

.top-bar {
    background-color: var(--color-background-light);
    padding: 0.25rem 0;
    font-size: 0.8rem;
    color: var(--color-text-secondary);
  }

  .top-bar a {
    color: var(--color-text-secondary);
  }
  
  .top-bar__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--container-max-width);
    margin: 0 auto;
    padding: 0 var(--container-padding);
  }